<h1><button (click)="left()">&#60;</button>{{customer.name }}<button (click)="right()">&#62;</button></h1>
<p>
    <i>{{ customer.name }} is at {{ customer.address.street }} in {{ customer.address.city }} in the {{ customer.address.region
        }} region.</i>
</p>
<br/>
<fieldset>
    <input [(ngModel)]="customer.name">
    <br/>
</fieldset>

<label>
    <input type="checkbox" [(ngModel)]="hideAddress">Hide address</label>

<div *ngIf="!hideAddress">
    <address-comp [address]="customer.address"></address-comp>
</div>